# exclude .gitignore and similar from the generated tarball
.git*           export-ignore
# exclude development files
*.xml          export-ignore
*.json          export-ignore
*.md            export-ignore
Gruntfile.js    export-ignore
# exclude non-minified resources
# includes/assets/js/*.js             export-ignore
# includes/assets/js/min/*.js.map     export-ignore
# includes/assets/css/*.css           export-ignore
# includes/assets/css/min/*.css.map   export-ignore